profile = default
version = 0.29.0

break-cases = vertical
type-decl = sparse
let-and = sparse
single-case = sparse
field-space=loose
doc-comments=before
margin = 80
let-binding-spacing = compact
break-collection-expressions = fit-or-vertical
sequence-style = terminator
field-space = loose
